{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="tasks,todolist,kanban" />
    <meta name="description"
          content="{% block description %}A kanban to-do list with natural language processing.{% endblock description %}" />
    <title>
      {% block title %}
        Backlogs
      {% endblock title %}
    </title>
    <!-- Load static -->
    {% load static %}
    <link rel="icon"
          href="{% static 'images/logo.svg' %}"
          sizes="any"
          type="image/svg+xml" />
    <link rel="stylesheet"
          href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
          integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
          crossorigin="anonymous" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    {% block head_additional %}
    {% endblock head_additional %}
  </head>
  <body>
    <header class="container">
      {% block header %}
      {% endblock header %}
    </header>
    <main class="container">
      {% block main %}
      {% endblock main %}
    </main>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
