<div class="datepicker">
    <span class="datepicker-toggle">
        <span class="datepicker-toggle-button">
            <i class="bi bi-calendar"></i>
        </span>
        <input type="datetime-local"
               name="{{ name }}"
               id="{{ id }}"
               value="{{ default_value }}"
               class="form-control datepicker-input"
               data-text-id="{{ id }}-datepicker-text">
    </span>
    <span class="datepicker-text" id="{{ id }}-datepicker-text">Date</span>
</div>
