<form action="{% url 'todolist:index' %}" method="post" id="add-task-form">
    {% csrf_token %}
    <div class="d-flex flex-column indicate-focus-within rounded border p-2 px-3 pt-3">
        {% comment %} Title {% endcomment %}
        <div class="control-group w-100">
            {% include "components/task-title-input.html" with form_field=form.title placeholder="+ Add task (Ctrl + Alt + A)" id="add-task-title-field" autofocus=True %}
        </div>
        {% comment %} Actions {% endcomment %}
        <div class="d-flex justify-content-center align-items-center gap-2 w-100">
            {% comment %} Date {% endcomment %}
            <div class="control-group">
                {% include "components/datepicker.html" with name="due_date" id="add-task-due-date-field" %}
            </div>
            {% comment %} Priority {% endcomment %}
            <div class="control-group">
                {% include "components/priority-select.html" with id="add-task-priority-field" default_value=form.priority.field.initial %}
            </div>
            {% comment %} Submit {% endcomment %}
            <button type="submit"
                    class="ms-auto btn btn-sm btn-unstyle fs-4 text-primary p-0">
                <i class="bi bi-plus-circle-fill"></i>
            </button>
        </div>
    </div>
</form>
