{% load todolist_tags %}
{% comment %} Kanban for desktop {% endcomment %}
<div class="d-none d-sm-flex kanban-container row justify-content-center gap-3">
    {% for status in statuses %}
        <div class="kanban-column col p-2 rounded-3"
             data-status="{{ status.value }}">
            <h5 class="mb-3">{{ status.label }}</h5>
            {% include "todolist/components/tasks_list.html" with tasks=tasks|filter_tasks:status.value status=status.value %}
        </div>
    {% endfor %}
</div>
{% comment %} Kanban for mobile {% endcomment %}
<div class="d-flex d-sm-none flex-column kanban-container-mobile">
    <ul class="nav nav-underline nav-fill mb-3"
        id="kanban-tabs"
        role="tablist">
        {% for status in statuses %}
            <li class="nav-item" role="presentation">
                <a class="kanban-column-tab nav-link"
                   id="kanban-column-tab-{{ status.value }}"
                   href="#column-{{ status.value }}"
                   data-status="{{ status.value }}"
                   type="button"
                   role="tab">{{ status.label }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="kanban-tab-content">
        {% for status in statuses %}
            <div class="tab-pane"
                 id="kanban-tab-content-{{ status.value }}"
                 role="tabpanel">
                {% include "todolist/components/tasks_list.html" with tasks=tasks|filter_tasks:status.value status=status.value mobile=True %}
            </div>
        {% endfor %}
    </div>
</div>
{% comment %} Modals {% endcomment %}
{% for task in tasks %}
    {% include "todolist/components/task_modal.html" with task=task form=form %}
{% endfor %}
