{% load todolist_tags %}
{% comment %} Kanban for desktop {% endcomment %}
<div class="d-none d-sm-flex kanban-container row gap-3">
    {% for status in statuses %}
        <div class="col">
            <h5 class="kanban-col-header mb-3" data-status="{{ status.value }}">{{ status.label }}</h5>
            {% include "todolist/components/tasks_list.html" with tasks=tasks|filter_tasks:status.value status=status.value %}
        </div>
    {% endfor %}
</div>
{% comment %} Kanban for mobile {% endcomment %}
<div class="d-flex d-sm-none kanban-container-mobile flex-column gap-3">
    <ul class="nav nav-underline nav-fill" role="tablist">
        {% for status in statuses %}
            <li class="nav-item" role="presentation">
                <a class="kanban-col-header-tab nav-link"
                   href="#column-{{ status.value }}"
                   data-status="{{ status.value }}"
                   type="button"
                   role="tab">{{ status.label }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for status in statuses %}
            <div class="tab-pane kanban-tab-pane"
                 role="tabpanel"
                 data-status="{{ status.value }}">
                {% include "todolist/components/tasks_list.html" with tasks=tasks|filter_tasks:status.value status=status.value %}
            </div>
        {% endfor %}
    </div>
</div>
{% comment %} Modals {% endcomment %}
{% for task in tasks %}
    {% include "todolist/components/task_modal.html" with task=task form=form %}
{% endfor %}
