{% load widget_tweaks %}
<div class="modal fade"
     id="modal-{{ task.id }}"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url 'todolist:update' pk=task.id %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex gap-2">
                        <select name="status" class="form-select">
                            {% for value, label in form.status.field.choices %}
                                <option value="{{ value }}" {% if value == task.status %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                        <input name="{{ form.due_date.name }}"
                               type="datetime-local"
                               class="form-control"
                               value="{{ task.due_date|date:'Y-m-d' }}T{{ task.due_date|time:'H:i' }}">
                    </div>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% render_field form.title class+="form-control input-unstyled fs-5 mb-1" placeholder="Task title" value=task.title %}
                    <textarea name="{{ form.description.name }}"
                              class="form-control input-unstyled"
                              placeholder="Task description"
                              rows="3">{% if task.description %}{{ task.description }}{% endif %}</textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit"
                            class="btn btn-danger"
                            formaction="{% url 'todolist:delete' pk=task.id %}">Delete</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
